@using Movies.Chat.Models
@using Microsoft.AspNetCore.Identity
@using Movies.EntityModels
@inject UserManager<IdentityUser> UserManager

    <h1 class="main-h1">Here we vote</h1>

    <div>
	<h1>Propose Date</h1>

	<div class="mb-3">
            <label for="date" class="form-label">Propose date:</label>
            <input type="date" class="form-control" id="date" />
	</div>
	<div class="mb-3">
            <input type="button" class="form-control" id="sendButton" value="Send Message" />
	</div>
    </div>

    <div>
	<h1>Dates</h1>
	@if (Model is not null)
	{
        <ul class="date-list">
            @foreach (var date in Model.Dates)
            {
                <li data-day="@date.ProposedDate.Day" 
                    data-votes="@date.Votes" 
                    class="concrete-date" 
                    data-date-dateid="@date.VoteDateId">

                    <span>@date.ProposedDate has</span>
                    <span class="vote-count">@date.Votes votes.</span>
                    <button class="vote-button" data-date-id="@date.VoteDateId">Vote</button>
                </li>
		    }
        </ul>
		    }
		    else
		    {
        <div>We have no dates</div>
		    }

	<h1>Movies</h1>
	@if (Model is not null)
		    {
        <ul class="movie-list">
            @foreach (var movie in Model.Movies)
            {
                <li data-votes="@movie.Votes" 
                    class="concrete-movie" 
                    data-movie-id="@movie.MovieId">

                    <span>@movie.Title has</span>
                    <span class="movie-vote-count">@movie.Votes votes.</span>
                    <button class="movie-vote-button" data-movie-id="@movie.MovieId">Vote</button>
                </li>
		    }
        </ul>
		    }
		    else
		    {
        <div>We have no movies</div>
		    }
    </div>

    @section Scripts {
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/vote-date.js"></script>
    <script src="~/js/vote-movie.js"></script>
    }
